.register {
  height: calc(100vh - 60px);
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: white;
}

.register-card {
  display: flex;
  flex-direction: column;
  background-color: white;
  border-radius: 10px;
  overflow: hidden;
  padding: 20px;
  height: 500px;
  width: 400px;
  box-shadow: -5px -5px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.35);
}
.register-card h1 {
  color: #555;
  font-size: 40px;
}

.register-card form {
  display: flex;
  flex-direction: column;
  color: #010101;
  margin: 10px 0;
}

.register-card form div {
  display: flex;
  align-items: center;
  margin: 10px 0;
}

input[type="text"],
input[type="email"],
input[type="password"] {
  font-size: 1.2rem;
  padding: 0.25rem;
  width: 100%;
  border-bottom: 1px solid lightgray;
}

form button {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #55c2da;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  margin: 1rem 0 0.5rem 0;
}

.instructions {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 0.75rem;
  border-radius: 0.5rem;
  background: #000;
  color: #fff;
  padding: 0.25rem;
  position: relative;
  margin: 0;
  text-align: left;
}

.instructions > svg {
  font-size: 1.5rem;
}

.instructions div {
  margin: auto 0;
}

.offscreen {
  position: absolute;
  left: -9999px;
}


.hide {
  display: none;
}

.valid {
  color: limegreen;
  margin-left: 0.25rem;
}

.invalid {
  color: red;
  margin-left: 0.25rem;
}

p span:hover {
  text-decoration: underline;
}

/*Media Queries (medium screen)*/
@media screen and (max-width: 1024px) {
  .register-card {
    margin: 2rem 0;
    width: 60%;
  }
}

/*Media Queries (small screen)*/
@media screen and (max-width: 600px) {
  .register-card {
    margin: 2rem 0;
    width: 90%;
  }
}