.home {
  background-color: rgba(0, 0, 0, 0.6);
  background-image: url('https://images.pexels.com/photos/46798/the-ball-stadion-football-the-pitch-46798.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
  width: 100%;
  height: calc(100vh - 50px);
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-blend-mode: overlay;
  position: relative;

  .container {
    padding: 10px 10%;
    color: #fff;
    
    .header-text {
      margin-top: 30%;
      font-size: 30px;

      h1 {
        font-size: 60px;
        margin-top: 20px;

        span {
          color: #54dede;
        }
      }

      p {

      }

      button {
        width: 20%;
        padding: 10px;
        margin: 20px 0;
        border-radius: 20px;
        border: none;
        background-color: #55c2da;
        font-weight: bold;
        font-size: 16px;
        cursor: pointer;
        transition: background 0.5s, transform 0.5s;
        
        a {
          text-decoration: none;
          color: #000;
        }

        &:hover {
          background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
          transform: translateY(-10px);
        }
      }
    }
  }
}