.login {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: white;
}

.login-card {
  width: 50%;
  display: flex;
  background-color: white;
  border-radius: 10px;
  min-height: 600px;
  overflow: hidden;
  box-shadow: -5px -5px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.35);
}

.login-card .left {
  flex: 1;
  background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
  background-size: cover;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: white;
}

.left h1 {
  font-size: 40px;
}

.left span {
  font-size: 14px;
}

.left button {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #5adbb5;
  color: #010101;
  font-weight: bold;
  font-size: 16px;
  position: relative;
  bottom: 0;
  cursor: pointer;
  transition: background 0.5s, transform 0.5s;
}

.left button:hover {
  background-color: #33b249;
  background: linear-gradient(to right, rgba(100, 224, 127, 0.95), rgba(34, 227, 98, 0.95));
  transform: translateY(-10px);
}

.login-card .right {
  flex: 1;
  padding: 50px;
  display: flex;
  flex-direction: column;
  gap: 50px;
}

.right h1 {
  color: #555;
  font-size: 40px;
}

.right form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  color: #010101;
}

.right form div {
  display: flex;
  justify-content: center;
  align-items: center;
}

.right form input {
  border: none;
  border-bottom: 1px solid lightgray;
  padding: 20px 10px;
}

.right form input:focus {
  outline: none;
}

.right form button {
  width: 100%;
  padding: 10px;
  border-radius: 20px;
  border: none;
  background-color: #55c2da;
  font-weight: bold;
  font-size: 16px;
  cursor: pointer;
  transition: background 0.5s, transform 0.5s;
}

.right form button:hover {
  background: linear-gradient(to right, rgba(153, 38, 240, 0.95), rgba(209, 34, 227, 0.95));
  transform: translateY(-10px);
}

/* Media Queries (medium and larger screen)*/
@media screen and (min-width: 600px) {
  .login-card {
    width: 90%;
  }

  .right .sm-screen {
    display: none;
  }
}

/*Media Queries (medium screen)*/
@media screen and (max-width: 1024px) {
  .login-card {
    width: 80%;
  }
}

/*Media Queries (small screen)*/
@media screen and (max-width: 600px) {
  .login-card {
    margin: 0;
    padding: 0;
  }

  .login-card .left {
    display: none;
  }

  .right form input {
    padding: 10px;
  }

  .right .sm-screen {
    display: visible;
  }
}