.rightBar {
  flex: 1.5;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;

  &::-webkit-scrollbar {
    width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }
  .rightBarWrapper {
    padding: 20px;

    .card {
      width: 90%;
      background-color: #fff;
      color: #333;
      border-radius: 10px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      padding: 20px;
      display: flex;
      flex-direction: column;
      margin-bottom: 20px;
      margin-right: 15px;
      
      button {
        padding: 10px;
        text-align: left;
      }
      .sidebarButton {
        text-align: center;
        width: 100%;
        border: none;
        padding: 10px;
        border-radius: 5px;
        font-weight: 500;
        margin: 0 auto;
        cursor: pointer;

        &:hover {
          font-weight: 700;
        }
      }
    }
    .event {
      display: flex;
      flex-direction: column;
      span {
        margin: 10px 0;
        font-size: 20px;
      }
      .item {
        text-align: center;
        align-items: center;
        box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
        padding: 20px;
        margin-bottom: 20px;
  
        .desc {
          display: flex;
          align-items: center;
          justify-content: space-between;
          
          p {
            color: gray;
          }
        }
      }
    }
  }
}