.rightBar {
  flex: 1.5;
  height: calc(100vh - 50px);
  overflow-y: scroll;
  position: sticky;

  &::-webkit-scrollbar {
      width: 5px;
  }

  &::-webkit-scrollbar-track {
    background-color: #f1f1f1;
  }

  &::-webkit-scrollbar-thumb {
    background-color: rgb(179, 179, 179);
  }
  .container {
    padding: 20px;

    .card {
      width: 90%;
      background-color: #fff;
      color: #333;
      border-radius: 10px;
      box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
      padding: 20px;
      margin: 10px;
      display: flex;
      flex-direction: column;
      button {
        padding: 10px;
        text-align: left;
      }
    }
    .item {
      text-align: center;
      align-items: center;
      -webkit-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      -moz-box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      box-shadow: 0px 0px 15px 1px rgba(0, 0, 0, 0.09);
      padding: 20px;
      margin-bottom: 20px;

      .desc {
        display: flex;
        align-items: center;
        justify-content: space-between;
      }
      
      span {
        color: gray;
      }
    }
  }
  .team1 {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px;
    gap: 20px;

    .teamInfo {
      display: flex;
      align-items: center;
      gap: 20px;
      span {
          font-size: 12px;
          align-items: center;
      }
      .time{
        display: flex;
        align-items: center;
        span {
          font-size: 12px;
        }
      }
      img {
        width: 40px;
        height: 40px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .team2{
      display: flex;
      align-items: center;
      justify-content: space-between;
    }
  }
}