.navbar {
  display: flex;
  align-items: center;
  padding: 10px 20px;
  height: 50px;
  position: sticky;
  top: 0;
  background-color: #bae1ff;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, .1), 0 2px 4px 1px rgba(0, 0, 0, .5);
  border-bottom: 1px solid transparent;
  z-index: 999;

  .left {
    flex: 1;
    display: flex;
    align-items: center;
    gap: 30px;

    .nav-link {
      text-decoration: none;
      font-weight: bold;
      font-size: 30px;
      color: #053b43;
    }
  }

  .center {
    flex: 1.5;
    display: flex;
    align-items: center;
    color: #053b43;

    .search {
      display: flex;
      align-items: center;
      gap: 10px;
      border: 1px solid themed("border");
      border-radius: 5px;
      padding: 5px;
      width: 100%;

      input {
        width: 60%;
        padding: 12px 10px 12px 48px;
        border: none;
        border: 1px solid rgb(0, 0, 0, 0.1);
        color: #fff;
        font-weight: 300;
        border-radius: 25px;
        font-size: 16px;
        box-shadow: -5px -5px 15px rgb(255, 255, 255, 0.1), 5px 5px 15px rgb(0, 0, 0, 0.35);
        transition: 0.5s;
        outline: 0;
        transition: background 0.5s, transform 0.5s;

        &:focus {
          color: #080808;
        }
      }
    }
  }

  .right {
    flex: 2;
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;

    .nav {
      display: flex;
      align-items: center;
      gap: 20px;
      font-weight: 500;

      .nav-link {
        font-size: 20px;
        color: #053b43;
        text-decoration: none;
        position: relative;
        display: flex;
        align-items: center;
        gap: 10px;

        &::after {
          content: '';
          width: 0;
          height: 3px;
          background: #ff004f;
          position: absolute;
          left: 0;
          bottom: -6px;
          transition: 0.5s;
        }

        &:hover::after {
          width: 100%;
        }

        &.active {
          font-size: 22px;
          font-weight: 700;
        }
      }

      img {
        width: 30px;
        height: 30px;
        border-radius: 50%;
        object-fit: cover;
      }
    }
  }
}