/* .ticket {
  background: -webkit-linear-gradient(bottom, #0250c5, #d43f8d);
  height: 100vh;
} */
.ticket_container {
  box-shadow: 0px 0px 25px -10px rgba(0, 0, 0, 0.38);
  border-radius: 20px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.ticket_container h1 {
  text-align: center;
  padding: 10px;
  margin: 10px 0;
}

.ticket_card {
  width: 60%;
  background-color: #fff;
  color: #333;
  border-radius: 10px;
  box-shadow: 0 3px 10px rgba(0, 0, 0, 0.2);
  padding: 20px;
  margin: 10px;
  display: flex;
  flex-direction: column;
}

.ticket_card form {
  width: 100%;
  padding: 10px;
}

.form-row label {
  flex: 1;
  font-weight: 700;
}
.form-row div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0;
}
.form-row input {
  flex: 5;
  width: 97%;
  height: 100%;
  padding: 10px;
  justify-content: center;
  align-items: center;
  border: 0.5px solid #333;
}

.ticket_btn {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

/* Media queries (medium screen)*/
@media screen and (max-width: 1024px) {
  .ticket_card,
  .match_summary_card {
    width: 80%;
  }
}
/* Media queries (small screen)*/
@media screen and (max-width: 600px) {
  .ticket_card,
  .match_summary_card {
    width: 96%;
  }
  .ticket_btn {
    gap: 5px;
  }
}